* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      background: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .main-container {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;
      padding: 100px;
      background-color: white;
      border: 1px solid #dbdbdb;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      
    }

    .left-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-container img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .right-container {
      flex: 1;
      max-width: 320px;
      background: #fff;
       
      padding: 30px 20px;
      text-align: center;
    }

    .right-container img {
      height: 50px;
      margin-bottom: 15px;
    }

    h5 {
      font-family: "Story Script", cursive;
      font-size: 28px;
      margin-bottom: 20px;
      color: #262626;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      background-color: #fafafa;
      font-size: 14px;
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }

    .login-btn {
      background-color: #0095f6;
      color: white;
      font-weight: 600;
      transition: 0.3s ease;
    }

    .login-btn:hover {
      background-color: #007ace;
    }

    .create-btn {
      background-color: #f0f0f0;
      color: #0095f6;
      font-weight: 600;
      margin-top: 15px;
    }

    a {
      text-decoration: none;
      color: #00376b;
      font-size: 13px;
    }
    form > a{
        color:#1e90ff
    }

    a:hover {
      text-decoration: underline;
    }
    .divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #8e8e8e;
  margin: 20px 0;
}
.divider >span{
    font-size: 12px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dbdbdb;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}
span{
    font-size: 18px;
}


    /* Responsive Design */
    @media (max-width: 768px) {
      .main-container {
        flex-direction: column;
        width: 90%;
        padding: 20px;
      }

      .left-container {
        display: none;
      }
    }
    .signup > a{
        color: #4169e1 ;
    }
